extends aidlayout

block content
  h2= params.title

  // div.control-section
  //   a#prevaid(class='prevcuraid' href='#' title="Previous")
  //     i.fa.fa-chevron-left(aria-hidden="true")
  //   a#currentaid(href='#') Aidstation 
  //   a#nextaid(class='prevcuraid' href='#' title="Next")
  //     i.fa.fa-chevron-right(aria-hidden="true")

  p #{params.type} @ #{params.totalDistance}km &Delta; #{params.legDistance}km

  aid(id=params.id, type=params.type)

  #starterList
    table(id="startlist-table", class="sortable", class="bordered centered highlight")
      thead
        th(class="sorttable_numeric") Start No.
        th Name
        th Lastname
        unless params.type == 'Start'
          th(class="sorttable_nosort") In (hh:mm)
          th(class="sorttable_nosort") Save
          th(class="sorttable_nosort") Edit
        unless params.type == 'Finish'
          th(class="sorttable_nosort") Out (hh:mm)
          th(class="sorttable_nosort") Save
          th(class="sorttable_nosort") Edit
      tbody

